body {
	font-size:9px;
}
#main {
	display:none;
}

.edit {
	display:none;
}
.page {
	page-break-after:always;
}

.instructions {
	display:none;
}

ol {
	list-style-type:decimal;
}
ol li {
	list-style-type:decimal;
}